<div class="flex flex-row p-3 items-center bg-[#F0F0F0] dark:bg-[#0a0a0c] sm:mx-7 md:mx-10 lg:mx-20 xl:mx-36 mx-5 mb-10">
    <div class="rounded-lg bg-white m-2 flex-shrink-0">
        <img src="<%= imgSrc %>" class="object-cover h-[7rem] w-[5rem] lg:h-[10rem] lg:w-[10rem]" alt="<%= imgAlt %>">
    </div>
    <div class="flex flex-col justify-center xl:ml-20">
        <h2 class="dark:text-white md:text-xl lg:text-2xl xl:text-3xl text-lg font-bold text-black mb-1 mx-2"><%= title %></h2>
        <p class="dark:text-[#828282] mr-2 md:mr-10 lg:mr-16 text-justify md:text-lg lg:text-xl xl:text-2xl text-black font-light text-base mx-2"><%= description %></p>
    </div>
</div>