<a href="/" class="flex items-center border border-black/30 dark:border-white/30 bg-transparent p-1 px-4 rounded-full">
    <img src="/image/logo.svg" alt="" class="h-8 ">
    <p class="dark:text-white text-black font-bold">
        Satria 
        <span class="ml-1 text-red-800 font-bold dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-r from-yellow-200 to-yellow-500">BIPA</span>
    </p>
</a>