<a href="/index" class="flex items-center bg-transparent p-1 px-4 rounded-full">
    <img src="/images/white.png" alt="Logo Light Mode" class="block dark:hidden h-12 w-auto">
    <img src="/images/black.png" alt="Logo Black Mode" class="hidden dark:block h-12 w-auto">
</a>