<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Masuk Satria BIPA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>
    <script>
      // Function to initialize and toggle dark mode
      function initMode() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }

      function toggleMode() {
        if (document.documentElement.classList.contains("dark")) {
          document.documentElement.classList.remove("dark");
          localStorage.theme = "light";
        } else {
          document.documentElement.classList.add("dark");
          localStorage.theme = "dark";
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const burgerMenu = document.getElementById("burger-menu");
        const navLinks = document.getElementById("navbar-default");

        if (burgerMenu) { // Tambahkan kondisi ini
          burgerMenu.addEventListener("click", () => {
            navLinks.classList.toggle("hidden");
          });
        }

        initMode();
      });

    </script>

    <style>
      body {
        font-family: "Plus Jakarta Sans", sans-serif;
      }

      .login-btn:hover svg path{
        fill: white;
      }
    </style>
  </head>

  <body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 flex items-center justify-center min-h-screen">
  <%- include('partials/header') %>
    <main class=" dark:bg-gray-800 flex items-center justify-center w-full h-600 p-0 dark:border-gray-700 mt-12">
      <div class="relative flex flex-col md:flex-row w-full h-full border-l border-r border-gray dark:border-gray-700 bg-[url(/images/batik-bg.jpg)] dark:bg-none bg-cover ">
        <!-- Bagian kiri untuk form login -->
        <div class="flex-1 flex items-center justify-center p-8">
          <form id="login-form" class="w-full max-w-sm">
            <h2 class="text-3xl font-bold mb-6 text-center mt-5 dark:text-white">Masuk</h2>
            <div class="mb-4">
              <label class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2" for="email">Pos-el(Email)</label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 dark:text-gray-200 leading-tight focus:outline-none focus:shadow-outline bg-white dark:bg-gray-700" id="email" type="text" placeholder="Email">
            </div>
            <div class="mb-6">
              <label class="block text-gray-700 dark:text-gray-200 text-sm font-bold mb-2" for="password">Sandi</label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-900 dark:text-gray-200 leading-tight focus:outline-none focus:shadow-outline bg-white dark:bg-gray-700" id="password" type="password" placeholder="********">
            </div>            
            <div class="flex items-center justify-between">
              <button class="bg-black dark:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="submit">Masuk</button>
            </div>
            <div class="text-center">
              <a href="/register" class="text-blue-500 dark:text-blue-300 hover:text-blue-700 dark:hover:text-blue-400 text-sm">Belum punya akun? Daftar disini</a>
            </div>
          </form>
        </div>
      
        <div class="flex-1 flex items-center justify-center relative mt-6 md:mt-0">
          <img 
            src="/images/Gatot Kaca.png" 
            class="object-cover h-60 md:h-auto max-w-full md:max-w-80 md:w-full w-32 mb-10 lg:mt-20" 
            alt="Maskot Satria BIPA">
        </div>
      </div>
    </main>
    <!-- <%- include('partials/footer') %> -->
    <script>
      document.getElementById('login-form').addEventListener('submit', async function (event) {
        event.preventDefault();
        
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        if (!email || !password) {
            alert('Email dan password harus diisi.');
            return;
        }
    
        const data = {
          email: email,
          password: password
        };
                
        try {
          const response = await fetch('/api/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          });
          if (response.ok) {
              window.location.href = '/chat';
          } else {
              console.error('Response error:', response);
              const errorData = await response.json();
              alert('Masuk gagal: ' + (errorData.message || 'Kesalahan tidak diketahui.'));
          }
        } catch (error) {
          alert('Terjadi kesalahan, coba lagi nanti.');
        }
      });
    </script>    
</body>

</html>
