<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BIPA Daring</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="images/favicon.png" rel="icon">
  <link href="images/logo_bipa.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,900,700,700i" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-90DCBQNNCW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-90DCBQNNCW');
    </script>

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/fonts/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
   <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
  <link href="assets/css/style.css" rel="stylesheet">
  <script>
      document.documentElement.classList.remove("no-js");

      function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
        return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
      }
      if (getParameterByName("theme") === "localtapiola" || location.pathname === "/pages/brand-guidelines/") {
        document.documentElement.classList.remove("duet-theme-turva")
        document.querySelector("meta[name=theme-color]").setAttribute("content", "#0077b3")
        if (localStorage && localStorage.getItem("session-theme-turva")) {
          localStorage.removeItem("session-theme-turva")
        }
      } else if (getParameterByName("theme") === "turva" || localStorage && localStorage.getItem("session-theme-turva") || location.pathname === "/pages/brand-guidelines-turva/") {
        if (!document.documentElement.classList.contains("duet-no-theming")) {
          document.documentElement.classList.add("duet-theme-turva")
          localStorage.setItem("session-theme-turva", true)
          document.querySelector("meta[name=theme-color]").setAttribute("content", "#c60c30")
        }
      }

      (function(fn){
        var WebP = new Image();
        WebP.onload = WebP.onerror = function() {
          isSupported = (WebP.height === 2);
          if (isSupported) {
            document.documentElement.className += ' webp';
          } else {
            document.documentElement.className += ' no-webp';
          }
        };
        WebP.src = 'data:image/webp;base64,UklGRjoAAABXRUJQVlA4IC4AAACyAgCdASoCAAIALmk0mk0iIiIiIgBoSygABc6WWgAA/veff/0PP8bA//LwYAAA';
      })();
    </script>
    <script src="https://kit.fontawesome.com/7b4556e82f.js" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.duetds.com/api/components/8.4.8/lib/duet/duet.esm.js" integrity="sha384-YzKuCx+DiIV8rSNWCUp9iI/Fn/wooCUJs4H8YssCThsEGKQ7anSheMl3SN8+VjJg" crossorigin="anonymous"></script>
<script nomodule src="https://cdn.duetds.com/api/components/8.4.8/lib/duet/duet.js" integrity="sha384-L5mad4AopIVZLLNLPDWa1spwFrLeSVtkoPWybsO7b6GiM9y6qCZ18jeoRKg4OGdx" crossorigin="anonymous"></script>
    
      
      <style>
        .duet-example-without-padding {
          margin-top: -16px !important;
          margin-left: -16px !important;
          margin-bottom: -16px !important;
          width: calc(100% + 32px) !important;
        }
        .grid-demo duet-grid-item {
          background: #e6f2f8;
          padding: 16px !important;
          margin-right: 16px !important;
        }
        .grid-demo duet-grid-item duet-grid-item {
          padding: 0;
        }
        .spacer-demo {
          width: 100%;
          height: 260px;
        }
        .spacer-demo duet-spacer {
          background: #e6f2f8;
          margin: 0 0 3px 0 !important;
        }
        .duet-theme-turva .grid-demo duet-grid-item,
        .duet-theme-turva .spacer-demo duet-spacer {
          background: #f9e6ea;
        }
      </style>
<style>
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo img {
  max-height: 90px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background-size: stretch;
  position: relative;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 10px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: -10px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 36px;
  font-family: "Nunito", sans-serif;
}

#hero h2 {
  font-size: 24px;
}



@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 45vh;
    padding-top: 100px;
    text-align: center;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}


.search-container {
    display: inline-block;
}

.search-container1{
  float: right;
  padding: 15px 16px;
  margin-top: 8px;
  margin-right: 16px;
  background: none;
  font-size: 17px;
  border:1px solid #cccccc;
  border-left: none;
  cursor: pointer;
  color: #959595;
  border-radius: 0px 10px 10px 0px;
}

.search-container1:hover {
  background: #ccc;
}

.search-container2{
  padding: 15px;
  margin-top: 8px;
  font-size: 17px;
  border:1px solid #cccccc;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
}



.button_main {
  background-color:#fff ;
  font-size: 12px; 
  width: 125px; 
  height: 125px; 
  border-radius: 25px; 
  border: solid 1px #ccc;
  margin:5px;

}

.button_main:hover {
  opacity: 0.54;
  background-color:#e6f2f8;
}


</style>
</head>
<body>  <!-- ======= Header ======= -->
  <style>
  .iconDetails {
 margin-left:2%;
float:left; 
} 

.container2 {
  width:400px;
  height:auto;
  padding:1%;
  display: inline-block;
}
.nav-menu a:hover {
  opacity: 0.4;
}
</style>
 <header id="header">
    <div class="container d-flex align-items-center" style=" vertical-align: middle; min-width: 200px; ;">
      <!--<h1 class="logo mr-auto"><img src="images/logo_tut.png" ></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="portal" class="logo mr-auto">
      <div class="container2">
        <div class="row">
          <div>
            <img src="images/logo_tut.png" alt="" class="iconDetails d-none d-lg-block">
            <img src="images/logo_tut.png" alt="" class="iconDetails d-flex d-lg-none" style="width: 90%; height: auto;">
          </div><div style="font-size: 12px; color: #5e5e5e; padding-top: 17px; padding-left:10px; text-align: left"><span style="font-size: 14px;">Badan Pengembangan dan<br>Pembinaan Bahasa</span><br>
            Kementerian Pendidikan, Kebudayaan,<br> Riset, dan Teknologi
            </div>
          </div>
          </div>
       </a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="about" style="color:#333333;" title="Tentang Kami"><img src="assets/ikons/about.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Tentang kami</div></a></li>
          <li><a href="contact" style="color:#333333;" title="Hubungi Kami"><img src="assets/ikons/contact.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Hubungi kami</div></a></li>
          <li><a href="ssd" style="color:#333333;" title="Soal Sering Ditanya/FAQ"><img src="assets/ikons/faq.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">SSD</div></a></li>
          <li><a href="polling" style="color:#333333;" title="Jajak Pendapat"><img src="assets/ikons/polling.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Jajak Pendapat</div></a></li>
           <li><a href="standpel.php" style="color:#333333;" title="Standar Pelayanan"><img src="assets/ikons/standpel.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Standar Pelayanan</div></a></li>
             <li><a href="fhi/" style="color:#333333;" title="Festival Handai Indonesia"><img src="assets/ikons/fhi.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Festival Handai Indonesia</div></a></li>
          <!--<li class="d-none d-lg-block"><img src="ikons/delim1.png"></li>-->
          <li><a href="skm.php" style="color:#333333;" title="SKM"><img src="assets/ikons/skm.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">SKM</div></a></li>
          <li><a href="https://kemdikbud.lapor.go.id/" target="_blank" style="color:#333333;" title="Span"><img src="assets/ikons/span.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Span Lapor</div></a></li>
          <li class="d-none d-lg-block"><img src="assets/ikons/merdeka.png"></li>
          <li><a href="languages.php?lang=english&master=portal.php&q=" style="color:#333333;"  title="English Language"><b>English</b></a></li>
          
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->  <!-- ======= Hero Section ======= -->
  <main id="main">

    <!-- ======= About Section ======= -->
      <section id="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-6"><img class="d-none d-lg-block" src="images/main.png" style="width:100%; height: auto; background-size: stretch;
  position: relative;"></div>
          <div class="col-lg-6"><img class="logo" src="images/logo_bipa.png"><h1>BAHASA INDONESIA<br>BAGI PENUTUR ASING</h1><h2>DALAM JARINGAN</h2>
                      <div class="col-lg-6"><img class="d-flex d-lg-none" src="images/main.png" style="width:100%; height: auto; background-size: stretch;
  position: relative;"></div>
          <div class="topnav" style=" width: 100%;"><form name="formsmall" id="searchform" action="portal_search.php" method="get">
          <div class="search-container">
            <input type="text" class="search-container2" name="q" onBlur="if(this.value==&apos;&apos;)this.value=this.defaultValue;" onFocus="if(this.value==this.defaultValue)this.value=&apos;&apos;" placeholder="Pencarian..." name="q" style=" max-width: 100%; background-color: transparent;"><button type="submit"  class="search-container1"><i class="fa fa-search" aria-hidden="true"></i></button></div></form></div>
<div class="row" style="margin-top:20px;">
<div class="col-sm-3"><button id="menu-toggle1" class="button_main"><img src="assets/ikons/pemelajar_m.png"><br>Pemelajar</button>
  <duet-popup-menu controller="menu-toggle1" accessiblelabel="Pemelajar menu" accessible-role="list" skip-teleport>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/belajar.png">&nbsp;Belajar BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/jaga.png">&nbsp;Jaga BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/tebar.png">&nbsp;Tebar BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/tera.png">&nbsp;Tera BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/bincang.png">&nbsp;Bincang BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="/views/index.ejs"><img src="assets/ikons/satria.png">&nbsp;Satria BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/fhi.png">&nbsp;Festival Handai Indonesia</a></duet-popup-menu-item>
</duet-popup-menu></div>
<div class="col-sm-3"><button id="menu-toggle2" class="button_main"><img src="assets/ikons/pengajar_m.png"><br>Pengajar</button>
  <duet-popup-menu controller="menu-toggle2" accessiblelabel="Pengajar menu" accessible-role="list" skip-teleport>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/belajar.png">&nbsp;Belajar BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/jaga.png">&nbsp;Jaga BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/bakti.png">&nbsp;Bakti BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/tebar.png">&nbsp;Tebar BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/bincang.png">&nbsp;Bincang BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="/views/index.ejs"><img src="assets/ikons/satria.png">&nbsp;Satria BIPA</a></duet-popup-menu-item>
</duet-popup-menu></div>
<div class="col-sm-3"><button id="menu-toggle3" class="button_main"><img src="assets/ikons/lembaga_m.png"><br>Lembaga</button>
  <duet-popup-menu controller="menu-toggle3" accessiblelabel="Lembaga menu" accessible-role="list" skip-teleport>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/jaga.png">&nbsp;Jaga BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/bakti.png">&nbsp;Bakti BIPA</a></duet-popup-menu-item>
</duet-popup-menu></div>
<div class="col-sm-3"><button id="menu-toggle4" class="button_main"><img src="assets/ikons/umum_m.png"><br>Umum</button>
  <duet-popup-menu controller="menu-toggle4" accessiblelabel="Umum menu" accessible-role="list" skip-teleport>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/belajar.png">&nbsp;Belajar BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/jaga.png">&nbsp;Jaga BIPA</a></duet-popup-menu-item>
  <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/bakti.png">&nbsp;Bakti BIPA</a></duet-popup-menu-item>
<duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/bincang.png">&nbsp;Bincang BIPA</a></duet-popup-menu-item>
<duet-popup-menu-item accessible-role="listitem"><a href="/views/index.ejs"><img src="assets/ikons/satria.png">&nbsp;Satria BIPA</a></duet-popup-menu-item>
   <duet-popup-menu-item accessible-role="listitem"><a href="#"><img src="assets/ikons/fhi.png">&nbsp;Festival Handai Indonesia</a></duet-popup-menu-item>
</duet-popup-menu></div>
  </div>
    </div>
   </div>
      <div class="d-flex d-lg-none">
      <div class="col-sm-6">
        <div class="copyright" >
          <img src="images/logo_hakcipta.png">Hak Cipta <strong><span>Badan Pengembangan dan Pembinaan Bahasa</span></strong> &copy; 2024
        </div>

    </div>
  </div>
    </section><!-- End About Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="d-none d-lg-block">
    <div class="footer-top">
      <div class="container">
      <div class="row">
      <div class="col-sm-6  social-links text-center text-md-left pt-3 pt-md-0">
        <!--<a href="http://www.facebook.com/bipakemdikbud" target="_blank" title="Facebook" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="http://twitter.com/bipakemdikbud" target="_blank" title="Twitter" class="twitter"><i class="bx bxl-twitter"></i></a>-->
        <a href="http://instagram.com/bipakemdikbud" target="_blank" title="Instagram" class="instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UC9XxtHYrKD3UiVpNe8Qgvog" target="_blank" title="YouTube" class="youtube"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="col-sm-6 mr-md-auto text-center text-md-right">
        <div class="copyright" >
          <img src="images/logo_hakcipta.png">Hak Cipta <strong><span>Badan Pengembangan dan Pembinaan Bahasa</span></strong> &copy; 2024
        </div>
    </div>
    </div>
  </div>
  </footer><!-- End Footer -->
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <!-- Vendor JS Files -->
  <script src="a55ets1/vendor/jquery/jquery.min.js"></script>
  <script src="a55ets1/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="a55ets1/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="a55ets1/vendor/php-email-form/validate.js"></script>
  <script src="a55ets1/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="a55ets1/vendor/counterup/counterup.min.js"></script>
  <script src="a55ets1/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="a55ets1/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="a55ets1/js/main.js"></script>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
</body>

</html>