<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BIPA Daring</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="/assets/images/logo_bipa.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,900,700,700i" rel="stylesheet">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-90DCBQNNCW"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-90DCBQNNCW');
    </script>

  <!-- Vendor CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/dist/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/fonts/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel/dist/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="/assets/vendor/font-awesome/css/font-awesome.min.css">
  <link href="assets/css/styles.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    #header {
      background: #fff;
      transition: all 0.5s;
      z-index: 997;
      padding: 15px 0;
      box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
    }
    
    #header .logo img {
      max-height: 90px;
    }
    
    /*--------------------------------------------------------------
    # Hero Section
    --------------------------------------------------------------*/
    #hero {
      width: 100%;
      height: 40vh;
      background: url("images/hero-bg.jpg") top center;
      background-size: stretch;
      position: relative;
    }
    
    #hero:before {
      content: "";
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    
    #hero .container {
      padding-top: 120px;
    }
    
    @media (max-width: 992px) {
      #hero .container {
        padding-top: 72px;
      }
    }
    
    #hero h1 {
      margin: 0;
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #fff;
      font-family: "Nunito", sans-serif;
    }
    
    #hero h2 {
      color: #eee;
      margin: 10px 0 0 0;
      font-size: 24px;
    }
    
    
    
    @media (min-width: 1024px) {
      #hero {
        background-attachment: fixed;
      }
    }
    
    @media (max-width: 768px) {
      #hero {
        height: 45vh;
        padding-top: 100px;
        text-align: center;
      }
      #hero h1 {
        font-size: 28px;
        line-height: 36px;
      }
      #hero h2 {
        font-size: 18px;
        line-height: 24px;
      }
    }
    
    
    .search-container {
        display: inline-block;
    }
    
    .search-container1{
      float: right;
      padding: 15px 16px;
      margin-top: 8px;
      margin-right: 16px;
      background: none;
      font-size: 17px;
      border:1px solid #cccccc;
      border-left: none;
      cursor: pointer;
      color: #959595;
      border-radius: 0px 10px 10px 0px;
    }
    
    .search-container1:hover {
      background: #ccc;
    }
    
    .search-container2{
      padding: 15px;
      margin-top: 8px;
      font-size: 17px;
      border:1px solid #cccccc;
      border-right: none;
      border-radius: 10px 0px 0px 10px;
    }
    
    #about {
      min-height: 300px;
      background: url("/assets/images/bg_modul.png") top center no-repeat;
    }
    
    
    #belajar {
      background: url('/assets/images/belajar.png');
      height: 163px;
      width: 187px;
      display: block;
      /* Optional for a gradual animation effect */
      transition: 0.5s;
      opacity: 1.0;
      margin-bottom: 10px;
    }
    
    #belajar:hover {
    opacity: 0.54;
    }
    #jaga {
      background: url('/assets/images/jaga.png');
      height: 163px;
      width: 188px;
      display: block;
      /* Optional for a gradual animation effect */
      transition: 0.5s;
      margin-bottom: 10px;
    }
    
    #jaga:hover {
     opacity: 0.54;
    }
    #bakti {
      background: url('/assets/images/bakti.png');
      height: 163px;
      width: 188px;
      display: block;
      /* Optional for a gradual animation effect */
      transition: 0.5s;
      margin-bottom: 10px;
    }
    
    #bakti:hover {
      opacity: 0.54;
    }
    
    #tebar {
      background: url('/assets/images/tebar.png');
      height: 163px;
      width: 185px;
      display: block;
      /* Optional for a gradual animation effect */
      transition: 0.5s;
      margin-bottom: 10px;
    }
    
    #tebar:hover {
      opacity: 0.54;
    }
    
    #tera {
      background: url('/assets/images/tera.png');
      height: 163px;
      width: 186px;
      display: block;
      /* Optional for a gradual animation effect */
      transition: 0.5s;
      margin-bottom: 10px;
    }
    
    #tera:hover {
      opacity: 0.54;
    }
    
    #satria {
      background: url('/assets/images/satria.png');
      height: 160px;
      width: 186px;
      display: block;
      /* Optional for a gradual animation effect */
      transition: 0.5s;
      margin-bottom: 15px;
      margin-left: 4px;
    }
    
    #satria:hover {
      opacity: 0.54;
    }

    #rbincang {
      background: url('/assets/images/rcakap.png');
      height: 163px;
      width: 189px;
      display: block;
      /* Optional for a gradual animation effect */
      transition: 0.5s;
      margin-bottom: 10px;
    }
    
    #rbincang:hover {
      opacity: 0.54;
    }
    
    .open-button {
      background-color: #555;
      color: white;
      font-size: 16px;
      padding: 16px 20px;
      border: none;
      border-radius: 15px 15px 0 0;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 0px;
      right: 28px;
      width: 280px;
    }
    
    
    
    /* The popup chat - hidden by default */
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid #f1f1f1;
      z-index: 9999;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: white;
    }
    
    /* Full-width textarea */
    .form-container textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: solid 1px #ccc;
      resize: none;
      font-size: 14px;
    }
    
    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
      background-color: #fff;
      color: #000;
      outline: none;
    }
    
    /* Set a style for the submit/send button */
    .form-container .btn {
      background-color: #4CAF50;
      color: white;
      padding: 6px 10px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:5px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: red;
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    
    .rating {
        float:left;
    }
    
    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
       follow these rules. Every browser that supports :checked also supports :not(), so
       it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }
    
    .rating:not(:checked) > label {
        float:right;
        width:1em;
        padding:0 .1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:200%;
        line-height:1.2;
        color:#ddd;
        text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating:not(:checked) > label:before {
        content: '★ ';
    }
    
    .rating > input:checked ~ label {
        color: #f70;
        text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
    }
    </style>
    </head>
    <body>  <!-- ======= Header ======= -->
      <style>
      .iconDetails {
     margin-left:2%;
    float:left; 
    } 
    
    .container2 {
      width:400px;
      height:auto;
      padding:1%;
      display: inline-block;
    }
    .nav-menu a:hover {
      opacity: 0.4;
    }
    </style>
 <header id="header">
    <div class="container d-flex align-items-center" style=" vertical-align: middle; min-width: 200px; ;">
      <!--<h1 class="logo mr-auto"><img src="images/logo_tut.png" ></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="#" class="logo mr-auto">
      <div class="container2">
        <div class="row">
          <div>
            <img src="/assets/images/logo_tut.png" alt="" class="iconDetails d-none d-lg-block">
            <img src="/assets/images/logo_tut.png" alt="" class="iconDetails d-flex d-lg-none" style="width: 90%; height: auto;">
          </div><div style="font-size: 12px; color: #5e5e5e; padding-top: 17px; padding-left:10px; text-align: left"><span style="font-size: 14px;">Badan Pengembangan dan<br>Pembinaan Bahasa</span><br>
            Kementerian Pendidikan, Kebudayaan,<br> Riset, dan Teknologi
            </div>
          </div>
          </div>
       </a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="#" style="color:#333333;" title="Tentang Kami"><img src="/assets/ikons/about.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Tentang kami</div></a></li>
          <li><a href="#" style="color:#333333;" title="Hubungi Kami"><img src="/assets/ikons/contact.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Hubungi kami</div></a></li>
          <li><a href="#" style="color:#333333;" title="Soal Sering Ditanya/FAQ"><img src="/assets/ikons/faq.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">SSD</div></a></li>
          <li><a href="#" style="color:#333333;" title="Jajak Pendapat"><img src="/assets/ikons/polling.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Jajak Pendapat</div></a></li>
           <li><a href="#" style="color:#333333;" title="Standar Pelayanan"><img src="/assets/ikons/standpel.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Standar Pelayanan</div></a></li>
             <li><a href="#" style="color:#333333;" title="Festival Handai Indonesia"><img src="/assets/ikons/fhi.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Festival Handai Indonesia</div></a></li>
          <!--<li class="d-none d-lg-block"><img src="ikons/delim1.png"></li>-->
          <li><a href="#" style="color:#333333;" title="SKM"><img src="/assets/ikons/skm.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">SKM</div></a></li>
          <li><a href="https:kemdikbud.lapor.go.id/" target="_blank" style="color:#333333;" title="Span"><img src="/assets/ikons/span.png" style="float: left;"><div class="d-flex d-lg-none" style=" padding-top: 3px; padding-left:5px;">Span Lapor</div></a></li>
          <li class="d-none d-lg-block"><img src="/assets/ikons/merdeka.png"></li>
          <li><a href="#" style="color:#333333;"  title="English Language"><b>English</b></a></li>
          
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <div class="d-none d-lg-block">
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
          <div class="row">
            <div class="col-lg-5" style="display:flex; align-items:center; flex-direction: row;"><div style="text-align: right; font-size: 16px; line-height: 17px;"><span style=" font-size: 18px; font-weight:900;">BAHASA INDONESIA BAGI PENUTUR ASING</span><br>DALAM JARINGAN <div style="font-size:18px; "><i>INDONESIAN FOR FOREIGN SPEAKERS ONLINE</i></div></div></div>
            <div class="col-lg-2" style="display:flex; align-items:center; flex-direction: row;"><center><img  src="/assets/images/logo_bipa.png" style=" float: left; max-width: 100%;"></center></div>
            <div  class="col-lg-5" align="right" style="margin: auto;
  display: block;"><div class="topnav" style=" width: 100%;"><form name="formsmall" id="searchform" action="#" method="get">
    <div class="search-container">
      <input type="text" class="search-container2" name="q" onBlur="if(this.value==&apos;&apos;)this.value=this.defaultValue;" onFocus="if(this.value==this.defaultValue)this.value=&apos;&apos;" placeholder="Pencarian..." name="q" style=" width: 350px; background-color: transparent;"><button type="submit"  class="search-container1"><i class="fa fa-search"></i></button></div></form></div>
          </div>
        </div>
    </div>
  </section>
</div>

         <div class="container d-flex d-lg-none" style="margin-top:150px;">
          <div class="row" align="center">
            <div class="col-lg-12" style="display:flex; align-items:right; flex-direction: row; margin-top:-25px;"><div style="text-align: right; font-size: 11px; line-height: 14px; padding-top: 10px; padding-right:10px;"><span style=" font-size: 12px; font-weight:900;">BAHASA INDONESIA BAGI PENUTUR ASING</span><br>DALAM JARINGAN <div style="font-size:10px;"><i>INDONESIAN FOR FOREIGN SPEAKERS ONLINE</i></div></div><img  src="assets/images/logo_bipa.png" style=" float: left; width: 65px; height: auto;"></div>
        </div>
    </div>
  <main id="main">
         <section class="d-flex d-lg-none ">
    <div class="container">
     <div class="row">
        <div class="col-lg-12">
              <center><div class="topnav" style=" width: 100%;"><form name="formsmall2" id="searchform" action="#" method="get">
              <div class="search-container">
                <input type="text" class="search-container2" name="q" onBlur="if(this.value==&apos;&apos;)this.value=this.defaultValue;" onFocus="if(this.value==this.defaultValue)this.value=&apos;&apos;" placeholder="Pencarian..." name="q" style=" width: 260px; background-color: transparent;"><button type="submit"  class="search-container1"><i class="fa fa-search"></i></button></div></form></div>
                    </div></center>
        </div>
      </div>
    </section>
    <!-- ======= About Section ======= -->
      <section id="about" class="about d-none d-lg-block">
      <div class="container">
<table width="1140px" border="0">
  <tr>
    <td width="190px" align="center" valign="top">&nbsp;<a id='belajar' href='#'></a></td>
    <td width="190px" align="center" valign="top">&nbsp;<a id='jaga' href='#'></a></td>
    <td width="190px" align="center" valign="top">&nbsp;<a id='bakti' href='#'></a></td>
    <td width="190px" align="center" valign="top">&nbsp;<a id='tebar' href='#'></a></td>
    <td width="190px" align="center" valign="top">&nbsp;<a id='tera' href='#'></a></td>
    <td width="190px" align="center" valign="top">&nbsp;<a id='satria' href='index'></a></td>
</tr>
  <tr>
    <td align="center" colspan="6"><center><h2 style="color:#000000; font-weight: bolder; line-height: 32px;"><img src="/assets/images/fhi.png"></h2><a href="#" target="_blank" style="border:solid 1px #000; background-color: #ffffff; font-size: 18px; color:#000; padding:10px; border-radius:25px; width: 220px;">Pengumuman Peserta Babak Final FHI 2024</a></center><br></td>
  </tr>
</table>
<br>
      </div>
    </section><!-- End About Section -->

     <section class="d-flex d-lg-none">
    <div class="container">
     <div class="row" align="center">
      <div class="col-sm-3"><a id='belajar' href='#'></a></div>
      <div class="col-sm-3"><a id='jaga' href='#'></a></div>
      <div class="col-sm-3"><a id='bakti' href='#'></a></div>
      <div class="col-sm-3"><a id='tebar' href='#'></a></div>
      <div class="col-sm-3"><a id='tera' href='#'></a></div>      
      <div class="col-sm-3"><a id='satria' href='index'></a></div>            
  </div>
       <br>
<br><center><h2 style="color:#000000; font-weight: bolder; line-height: 20px; font-size: 20px;"><img src="/assets/images/fhi.png"></h2><button onclick="window.open('pengumuman_babak_final_fhi_2024.pdf')" style="border:solid 1px #000; background-color: #ffffff; font-size: 18px; color:#000; padding:10px; border-radius:25px; width: 220px;">Pengumuman Peserta Babak Final FHI 2024</button></center><br>
</div>
</div>
    </section>

  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer" class="d-none d-lg-block">
    <div class="footer-top">
      <div class="container">
      <div class="row">
      <div class="col-sm-6  social-links text-center text-md-left pt-3 pt-md-0">
        <!--<a href="http:www.facebook.com/bipakemdikbud" target="_blank" title="Facebook" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="http:twitter.com/bipakemdikbud" target="_blank" title="Twitter" class="twitter"><i class="bx bxl-twitter"></i></a>-->
        <a href="http:instagram.com/bipakemdikbud" target="_blank" title="Instagram" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https:www.youtube.com/channel/UC9XxtHYrKD3UiVpNe8Qgvog" target="_blank" title="YouTube" class="youtube"><i class="bx bxl-youtube"></i></a>
      </div>
      <div class="col-sm-6 mr-md-auto text-center text-md-right">
        <div class="copyright" >
          <img src="/assets/images/logo_hakcipta.png">Hak Cipta <strong><span>Badan Pengembangan dan Pembinaan Bahasa</span></strong> &copy; 2024
        </div>
    </div>
    </div>
  </div>
  </footer><!-- End Footer -->

</div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/vendor/jquery-easing/dist/jquery.easing.1.3.umd.min.js"></script>
  <script src="/assets/vendor/jquery.counterup/jquery.counterup.min.js"></script>
  <script src="/assets/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/assets/vendor/aos/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>
</body>

</html>