<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Response</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />

    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>
    <script>
      // Function to initialize and toggle dark mode
      function initMode() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }

      function toggleMode() {
        if (document.documentElement.classList.contains("dark")) {
          document.documentElement.classList.remove("dark");
          localStorage.theme = "light";
        } else {
          document.documentElement.classList.add("dark");
          localStorage.theme = "dark";
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        const burgerMenu = document.getElementById("burger-menu");
        const navLinks = document.getElementById("navbar-default");

        burgerMenu.addEventListener("click", () => {
          navLinks.classList.toggle("hidden");
        });

        initMode();
      });
    </script>

    <style>
      body {
        font-family: "Plus Jakarta Sans", sans-serif;
      }

      .login-btn:hover svg path{
        fill: white;
      }
    </style>
  </head>

  <body class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 flex items-center justify-center min-h-screen">
  <%- include('partials/header') %>
  <main>
    <div class=" border p-5 bg-white  rounded-xl m-5">
        <h1 class=" font-semibold text-start text-2xl	dark:text-black tracking-tight ml-5">Pendaftaran berhasil! Silakan cek pos-el (email) Anda 
            untuk melanjutkan verifikasi</h1>
        <div class="flex mt-5 ml-5">
            <a href="/login" class="bg-black hover:bg-slate-700 dark:hover:bg-gray-500 dark:bg-gray-700 text-white font-bold py-4 px-4 rounded focus:outline-none focus:shadow-outline" type="button">Kembali ke masuk</a>
        </div>
    </div>
  </main>
</body>
</html>
